<div class="text-3xl font-medium mb-4">Workouts</div>

<div class="workouts">
  <% @workouts.each do |workout| %>
    <%= link_to edit_workout_path(workout), class: "flex py-2 items-center" do %>
      <div class="text-xl font-medium">
        <%= workout.name %>
      </div>
      <div class="ml-auto <%= workout.active ? "font-bold" : "" %>">
        <%= workout.active ? "Active" : "Inactive" %>
      </div>
    <% end %>
  <% end %>
</div>
