<div class="pt-4">
  <h2>Create workout day exercise</h2>
  <%= render 'workout_day_exercises/form', model: @form, url: workout_workout_day_workout_day_exercises_path(@form.workout_id, @form.workout_day_id)  %>
</div>
