<div class="flex items-center mb-4">
  <div class="text-3xl font-medium"><%= t('workout_days.header') %></div>
</div>

<div class="flex items-center mb-4">
  <div class="text-2xl font-medium mr-auto"><%= t('common.details') %></div>
</div>

<%= render 'workout_days/form',
           model: @form,
           method: :post,
           url: workout_workout_days_path %>