<% if notice %>
  <div class="notice p-4 mb-4 mt-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert p-4 mb-4 mt-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
    <%= alert %>
  </div>
<% end %>
