<% button_class = skipped ? warning_button_class : outline_button_class %>
<% button_text = skipped ? "Skipped" : "Skip" %>

<div data-skip-todays-workout-button class="<%= button_class %>" %><%= button_text %></div>
<%= check_box_tag :skipped, true, skipped, { class: "hidden", data: { "skip-todays-workout-check-box" => "" } } %>
